# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (raw or processed)
data/raw/
data/processed/
*.csv
*.parquet
*.db

# Models & artifacts
models/
mlruns/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*
